{% extends "accounts/base.html" %}

{% block span8 %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if form.errors %}
<div class="alert alert-error">
{% for field in form %}
    {% for error in field.errors %}
    <p>{{ field.label }}{{ error }}</p>
    {% endfor %}
{% endfor %}
</div>
{% endif %}

<form class="form-signin" method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <h3 class="form-signin-heading">修改密码</h3>
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <button type="submit" class="btn btn-large btn-primary">提交</button>
</form>

{% endblock %}
