{% extends "accounts/base.html" %}
{% load static %}
{% load stepbystep_extras %}

{% block css1 %}
<style type="text/css" media="screen">

.ace_marker-layer .ace_selection {
    position: absolute;
    z-index: 40;
    background: rgb(181, 213, 255);
}
.mark {background: red;}
   #display { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
   #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    #content{
        width: 620px;
        height: 100px;
        position: relative;

    }
</style>
{% endblock %}


{% block span8 %}

<div class="tabbable">
<ul id="mytab" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#exercise">题目</a></li>
    <li><a data-toggle="tab" href="#result">结果</a></li>
    <li><a data-toggle="tab" href="#comment">讨论</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="exercise">
<div>
    </br>
<h5>{{ exercise.title }}</h5>
</div>


<div class="alert alert-info">
<span class="badge badge-info">题目</span>
{{ exercise.content|safe|code_strong }}
</div>


{% if user.is_authenticated %}
<div id="content">
<div id="editor">#include "stdio.h"
int main(){
    int a, b;
    while (scanf("%d %d", &a, &b)==2)
        printf("%d\n",a+b);
    return 0;
}</div>
</div>
</br>
</br>
<button id="submit-code-btn" class="btn btn-primary pull-right" type="button">提交</button>
<script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var exercise_id = {{ exercise.id }};
    function getCookie(sName){
        var aCookie=document.cookie.split("; ");
        for(var i=0;i<aCookie.length;i++){var aCrumb=aCookie[i].split("=");if(sName==aCrumb[0])
        return(aCrumb[1]);}return null;
    }

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");
    document.getElementById('editor').style.fontSize='18px';
    //editor.setKeyboardHandler("ace/keyboard/vim");
    editor.renderer.setShowGutter(true);
    $("#submit-code-btn").click(function(){
        var code = editor.getValue();
        console.log(code)
        $.post('{% url 'submit' %}',
        {'code':code,"exercise_id":exercise_id,"csrfmiddlewaretoken":getCookie('csrftoken')},
        function(data,status){
            console.log(data)
        });
    });
</script>
{% else %}
<div class="alert alert-error">
<p>做题请先<a href="{% url 'login' %}">登录</a></p>
</div>

{% endif %}

</div>

<div class="tab-pane" id="result">
   
{% if user.is_authenticated %}
<table class="table table-striped table-bordered table-hover">
<tbody>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

<script>
$('a[data-toggle="tab"]').on('shown', function (e) {
    console.log(e.target.href) // 当前活动的标签
}) 
</script>
{% else %}
<div class="alert alert-error">
<p>请先<a href="{% url 'login' %}">登录</a>,然后查看提交结果</p>
</div>
{% endif %}

</div>

{% load comments %}
{% get_comment_list for exercise as comment_list %}
<div class="tab-pane" id="comment">
    <div class="span8">
        {% for comment in comment_list %}
        <div class="span8">
        <div class="row-fluid">
            <div class="span4"><h6>{{ comment.user }}</h6></div>
            <div class="span4 pull-right"><h6>{{ comment.submit_date|date:"Y-m-d H:i:s" }}</h6></div>
        </div>
        <br>
        {{ comment.comment }}<hr></div>
        {% endfor %}
    </div>
{% if user.is_authenticated %}
{% get_comment_form for exercise as form %}
<div class="span6">
<form class="form-signin" method="post" action="{% comment_form_target %}">
    {% csrf_token %}
    {{ form.comment }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{% url 'exercise_subject' exercise.id %}" />
    <button type="submit" class="btn btn-large btn-primary">提交</button>
</form>
<div>
{% else %}
<div class="alert alert-error">
<p>评论请先<a href="{% url 'login' %}">登录</a></p>
</div>
{% endif %}

</div>

</div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
